.main {
  display: flex;
  align-items: center;
  width: 65%;
  margin-top: 60px;
}

.main h1 {
  font-size: 80px;
  color: #E75A7C;
  font-weight: 600;
}

.main h2 {
  font-size: 65px;
  font-weight: normal;
  margin-bottom: 18px;
}

.main p {  
  font-size: 1.5rem;
  margin-bottom: 25px;
}


@media only screen and (max-width: 899px) {
  .main {
    width: 100%;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 799px) {
  .main h1 {
    font-size: 65px;
  }
  
  .main h2 {
    font-size: 50px;
  }
  
  .main p {  
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 569px) {
  .main h1 {
    font-size: 50px;
  }
  
  .main h2 {
    font-size: 35px;
  }
  
  .main p {  
    font-size: 1rem;
  }
}

@media only screen and (max-width: 439px) {
  .main h1 {
    font-size: 35px;
  }
  
  .main h2 {
    font-size: 20px;
  }
}
